{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    {% for post in posts %}
        {% if loop.first %}
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">{{ post.titulo }}</h1>
                    <p class="lead my-3">{{ post.contenido|truncate(200, true) }}</p>
                    <p class="lead mb-0"><a href="{{ path('post_show', {'id': post.id}) }}"
                                            class="text-white font-weight-bold">Leer más</a></p>
                </div>
                <h1 class="display-4 font-italic"></h1>
            </div>
        {% else %}
            {% if loop.index is not odd %}<div class="row mb-2">{% endif %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ post.titulo }}</h3>
                        <div class="mb-1 text-muted">{{ post.fecha|date('m/Y') }}</div>
                        <p class="mb-auto">{{ post.contenido|truncate(100, true) }}</p>
                        <a href="{{ path('post_show', {'id': post.id}) }}" class="stretched-link">Leer más</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% if post.imagen %}
                            <img src="{{ asset('uploads/' ~ post.imagen) }}" alt="{{ post.imagen }}" width="250" height="100%" class="img-fluid">
                        {% else %}
                            <svg class="bd-placeholder-img" width="250" height="100%" xmlns="http://www.w3.org/2000/svg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Imagen: Sin Imagen"><title>Imagen</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="35%" y="50%" fill="#eceeef" dy=".3em">Sin Imagen</text>
                            </svg>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if loop.index is odd or loop.last %}</div>{% endif %}
        {% endif %}
    {% else %}
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <h1 class="display-4 font-italic">No se encontraron registros</h1>
        </div>
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('post_new') }}">Crear nuevo post</a>
    {% endif %}
{% endblock %}
