{% extends 'base.html.twig' %}

{% block title %}{{ post.titulo }} - {% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .star-selected {
            color:#FF912C !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 blog-main">
            <section class="blog-post">
                <h1 class="blog-post-title">{{ post.titulo }}</h1>
                {% if post.imagen %}
                    <img src="{{ asset('uploads/' ~ post.imagen) }}" alt="{{ post.imagen }}" class="img-fluid m-2 p-2">
                {% endif %}
                <article>
                    {{ post.contenido|nl2br }}
                </article>
                <hr>
                <section>
                    <h3 class="font-italic">Comentarios <span
                                class="badge badge-secondary">{{ comentarios|length }}</span></h3>
                    <div class="listaComentarios">
                        {% import 'post/_macro.html.twig' as macros %}
                        {{ macros.print_comments_recursively(comentarios) }}
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="new-comment-container">
                            {% include 'comentario/new.html.twig' with {'action': path('comentario_new')} %}
                        </div>
                    {% else %}
                        <br><a href="{{ path('app_login') }}" class="btn btn-success">Inicia sesión para comentar</a>
                    {% endif %}
                </section>
            </section>
        </div>
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Datos de la publicación</h4>
                <p class="mb-0">
                    Author: <em>{{ post.autor }}</em><br>
                    Fecha: <em>{{ post.fecha|date('d/m/Y') }}</em>
                    </p>
                <p class="mb-0">
                    Clasificación <span class="text-muted"><small>Votos totales: <span
                                    id="votoTotal">{{ post.puntajes|length }}</span></small></span>
                    <ul class="list-inline" id='stars'>
                    {% for i in 1..5 %}
                        <li class="list-inline-item" data-value="{{ i }}">
                            {% if i <= puntaje|round %}
                                {% set star_style = 'star-selected' %}
                            {% else %}
                                {% set star_style = 'text-secondary' %}
                            {% endif %}
                            <svg class="bi bi-star-fill {{ star_style }}" style="cursor: pointer" width="2em" height="2em" viewBox="0 0 20 20"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.612 17.443c-.386.198-.824-.149-.746-.592l.83-4.73-3.522-3.356c-.33-.314-.16-.888.282-.95l4.898-.696 2.184-4.327c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L10 15.187l-4.389 2.256z"/>
                            </svg>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="success-box text-center"></div>
                </p>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and (app.user.id == post.autor.id or is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-outline-primary">Editar</a>
                {{ include('post/_delete_form.html.twig') }}
            {% endif %}
        </aside>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            /* 1. Visualizing things on Hover - See next part for action on click */
            let stars = $('#stars li');
            stars.on('mouseover', function(){
                var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
                // Now highlight all the stars that's not after the current hovered star
                $(this).parent().children("li").each(function(e){
                    let svg = $(this).children("svg");
                    if (e < onStar) {
                        svg.addClass('text-warning');
                    } else {
                        svg.removeClass('text-warning');
                    }
                });

            }).on('mouseout', function(){
                $(this).parent().children("li").each(function(e){
                    $(this).children("svg").removeClass('text-warning');
                });
            });


            /* 2. Action to perform on click */
            stars.on('click', function(){
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children("li");

                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).children("svg").removeClass('star-selected');
                    $(stars[i]).children("svg").addClass('text-secondary');
                }
                for (i = 0; i < onStar; i++) {
                    $(stars[i]).children("svg").addClass('star-selected');
                }
                $.ajax({
                    method: "POST",
                    url: "{{ path('puntaje_new') }}",
                    data: {
                        post: "{{ post.id }}",
                        puntos: onStar,
                        token: "{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ csrf_token(app.user.id) }}{% endif %}"
                    },
                }).done(function (response, statusText, xhr) {
                    let status = xhr.status;
                    if (status === 200 || status === 201) {
                        $("#votoTotal").html(response.total);
                        $(".success-box").html("<div class='alert alert-success'>Opinión registrada</div>");
                    } else {
                        $(".success-box").html("<div class='alert alert-warning'>Opinión no registrada</div>");
                    }
                }).fail(function (){
                    $(".success-box").html("<div class='alert alert-warning'>Opinión no registrada</div>");
                });
            });
        });
    </script>
    <script>
        /* nuevos comentarios */
        $(document).ready(function(){
            let wrapper = $('.new-comment-container').on(
                'submit', 'form', handleNewFormSubmit.bind(this)
            );

            function handleNewFormSubmit(e) {
                e.preventDefault();
                let form = $(e.currentTarget);
                let formBtn = form.find('button');
                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    data: form.serialize(),
                    success: function (data) {
                        let listaComentarios = $('.listaComentarios').children('ul');
                        listaComentarios.append(data);
                        $('#comentario_mensaje').val('');
                        formBtn.attr('disabled', false);
                        formBtn.children('.submitLoader').addClass("collapse");
                        formBtn.children('.submitTexto').removeClass("collapse");
                    },
                    error: function (jqXHR) {
                        form.closest('.js-new-wrapper').html(jqXHR.responseText);
                    },
                    beforeSend: function() {
                        console.log(formBtn);
                        formBtn.attr('disabled', true);
                        formBtn.children('.submitTexto').addClass("collapse");
                        formBtn.children('.submitLoader').removeClass("collapse");
                    },
                });
            }
        });
    </script>
{% endblock %}